.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-100px);
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  border: 1px solid #ffffffd3;
  border-radius: 30px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  opacity: 0;

  &__title {
    font-size: 100px;
    cursor: text;

    &--small {
      font-size: 25px;
      cursor: text;
    }
  }

  &._active {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
